<h1>Login</h1>

<form action="/auth/pass/login" method="post">
    <label>Email:</label>
    <input type="email" name="email" required><br>
    <label>Password:</label>
    <input type="password" name="password" required><br>
    <input type="submit" value="Login">
</form>

<button onclick="window.location.href='/auth/google'">Login with Google</button>
